body {
	font-family: "Verdana", "Georgia", "Arial", "Trebuchet MS", "Helvetica",  "sans-serif";
	/* font-size: 12px; */
	font-size: 75%;
	background-image:url('../image/crop_background.jpg');
	background-repeat:repeat-x;
	background-color:#EBF3E8;
	margin:0px 0px; padding:0px;
/*	text-align:center; */
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}


.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

.error {
	color: #ff0000;
}
.errorblock{
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding:8px;
	margin:16px;
}

.roundedDiv{
	padding:5px;
	background:#EBF3E8;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius:2em;
	border-bottom-right-radius:2em;
	-webkit-border-top-left-radius:2em; /* Safari */
	-webkit-border-top-right-radius:2em; /* Safari */
	-webkit-border-bottom-left-radius:2em; /* Safari */
	-webkit-border-bottom-right-radius:2em; /* Safari */
}